*   {padding: 0; margin: 0;}
a   {text-decoration: none; color: black;}
li  {list-style: none;}
/*Reset*/
header {
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
.logo img{
    width: 6rem;
}
#Sbridge{
    transition: 2s;
    background-image: url(/img/Scastle-hover.png);
    background-size: 75% 95%;
    background-repeat: no-repeat;
    background-position: 50% 8rem;
}
#Mbridge{
    transition: 2s;
    background-image: url(/img/castle-hover.png);
    background-size: 65% 95% ;
    background-repeat: no-repeat;
    background-position:  50% 8rem;
}
#Lbridge{
    transition: 2s;
    background-image: url(/img/castle-hover.png);
    background-size: 100% 95% ;
    background-repeat: no-repeat;
    background-position: 50% 8rem;
    background-origin: bottom;
}
#Lbridge:hover{
    transition: 2s;
    background-image: url(/img/castle-hover.png);
    background-size: 100% 95% ;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: bottom;
}
        /*Bridge decor*/
h1{ /*Hulmenaria*/
    font-size: 3rem;
    font-family: "UnifrakturMaguntia";
}
h2{ /*Página*/
    margin: 0 auto;
}
h3{ /*Herramientas*/
    text-align: center;
}
h4{ /*Secciones*/
    font-size: 1.7rem;
    text-align: center;
    font-family: "MedievalSharp";
    padding: 2rem 0;
    margin: 0 auto;
    width: 20rem;
}
h5{ /*Nombres Propios*/
    font-size: 1.7rem;
    text-align: center;
    font-family: "MedievalSharp";
    padding: 2rem 0;
    margin: 0 auto;
    width: 20rem;
}
h6{ /**/
    margin: 0 auto;
}         
Nav{
    background-color: rgb(238, 13, 43);
}
.tools div{
    margin: 0.5rem;
    background-color: aqua;
    border: 5px double black;
}
nav img{
    width: 9rem;
}
#butt{
    display: none;
}
.tools {
    justify-content: center;
    display: flex;
    position: relative;
    z-index: -1;
    position: none;
    max-height: 0;
    opacity: 0;
    transition: 2s ease;
}
#butt:checked ~ #tools{
    z-index: 1;
    opacity: 1;
    max-height: 20rem;
    transition: 2s;
}
#butt:checked ~ #navi-lab>#Mbridge{
    transition: 2s;
    background-image: url(/img/castle-hover.png);
    background-size: 65% 95% ;
    background-repeat: no-repeat;
    background-position: center;
}
                                                /*Navegador*/
main{
    background-color: ;
}
.team{
    background-color: pink;
}
                                                /*Team*/
.sts{
    background-color: rebeccapurple;
    width: 50%;
}
.bar{
    background-color: greenyellow;
    width: 80%;
    height: 10px;
    border-radius: 1rem;
}
.list{
    column-count: 2;
    height: auto;
}
.list > li{
    margin: 0 0.2rem;
}
#roadmap{
    display: none;
}
.road{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    z-index: -1;
    max-height: 0;
    opacity: 0;
    transition: 2s ease;
}
#roadmap:checked ~ #road{
    padding: 2rem 3rem;
    z-index: 1;
    height: 40rem;
    opacity: 1;
    max-height: 50rem;
    max-width: 90%;
}
#roadmap:checked ~ #roadmap-lab>#Mbridge{
    transition: 2s;
    background-image: url(/img/castle-hover.png);
    background-size: 65% 95% ;
    background-repeat: no-repeat;
    background-position: center;
}
                                                /*Pestaña Roadmap*/
footer{
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer img{
    width: 2rem;
}
.social{
    width: 15rem;
    display: flex;
    justify-content: space-around;
}
.location{
    width: 10rem;
    text-align: center;
}
.about{
    text-align: center;
}
.cop{
    background-color: blue;
    text-align: center;
    position: bottom;
}