main{
    display: flex;
}
aside{
    position:relative;
    overflow: scroll;
    z-index: 10;
    padding: 0rem 0 0 1rem ;
    width: 10%;
    height: 100vh;
    background-color: rgb(56, 216, 170);
}
aside div{
    overflow: scroll;
    top: 0;
}
aside ul li{
    margin: 1rem;
    list-style:unset;
}
aside h5{
    text-align: center;
}
.fondo{
    position: absolute;
    overflow: scroll;
    position: relative;
    width: 100vw;
    height: 100vh;
}
section{
    width: 285rem;
    background-image: url(../assets/img/Fondo_pergamino.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 8rem 14rem;
}
.civil{
    height: 160rem;
}
article{
    width: 115rem;
    height: 48rem;
    position: absolute;
    top: 88em;
    left: 34rem;
    clip-path: polygon(100% 0%, 100% 10%, 32% 100%, 0% 100%, 10% 0%);
    background-color: rgba(0, 128, 0, 0.3);
}
button{
    width: 9.8rem;
    height: 6.2rem;
    position: relative;
    border: none;
    border-radius: 4rem;
    background-color: rgba(128, 128, 128, 0.541) ;
}
#civil{
    width: 70rem;
    height: 45rem;
    position: absolute;
    top: 66rem;
    left: 123rem;
    z-index: -1;
}
#soldado{
    width: 70rem;
    height: 45rem;
    position: absolute;
    top: 66rem;
    left: 12rem;
    z-index: -1;
}
#mago{
    width: 70rem;
    height: 45rem;
    position: absolute;
    top: 0rem;
    left: 123rem;
    z-index: -1;
}
#psionico{
    width: 70rem;
    height: 45rem;
    position: absolute;
    top: 66rem;
    left: 232rem;
    z-index: -1;
}
#animista{
    width: 70rem;
    height: 45rem;
    position: absolute;
    top: 130rem;
    left: 123rem;
    z-index: -1;
}
#combateCC{top: 3.2rem; left: 94.7rem;}
#armasHoja{top: 11rem; left: 71.5rem;}
#armasMaza{top: 8.4rem; left: 50.5rem;}
#armasMango{top: 5.7rem; left: 29.5rem;}
#armasPuno{top: 3.1rem; left: 8.4rem;}
#armasAsta{top: 0.4rem; right: 12.6rem;}
#dagas{top: 17rem; left: 13.1rem;}
#shakran{top: 22rem; right: 5.6rem;}
#manguales{top: 15rem; right: 19.6rem;}
#hojasOcultas{top: 12rem; right: 39.6rem;}
#guadanas{top: 9.5rem; right: 59.7rem;}
#armasCorrea{top: 14rem; left: 51.4rem;}
#unaMano{top: 19.6rem; left: 33rem;}
#manoMedia{top: 10rem; left: 16.3rem}
#dosManos{top: 0.3rem; right: 0.4rem;}
#combateMallas{top: 11.2rem; right: 20.8rem;}
#combatePlacas{top: 29.7rem; right: 22.2rem}
#EntrenamientoCC{top: 30.6rem; right: 58.2rem;}