main{
    margin-top: 0;
    padding: 0;
    overflow: scroll;
}
form{
    background-image: url(assets/img/fondo_pergamino.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 4224px;
    height: 2376px;
    margin: 0;
    padding: 0;
    position: relative;
}
fieldset{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80rem;
    height: 45rem;
    font-size: 2rem;
    border: none;
}
section{
    background-image: url(assets/img/fondo_pergamino.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 20rem;
    height: 40rem;
    text-align: center;
    position: fixed;
    z-index: 5;
    top: 1rem;
}
section h2{
    font-family: "UnifrakturMaguntia" ;
    font-size: 4rem;
    padding: 2rem 0;
    color: var(--dorado);
    text-shadow: 
    1px 1px 0px black, 
    -1px 1px 0px black, 
    1px -1px 0px black, 
    -1px -1px 0px black;
}
section a{
    font-size: 3rem;
    border: none;
    background: transparent;
    margin: 2rem;
}
section img{
    width: 100%;
    height: 98%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.equipo{
    height: 80rem;
    background-image: url(assets/img/fondo_charcter.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transform: translateX(-50%);
    bottom: 10rem;
    left: 50%;
}
.atr{
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(16, 1fr);
    align-items: center;
    justify-content: center;
    max-height: 45rem;
    position: absolute;
    bottom: 10rem;
    right: 5rem;
}
.identidad{
    position: absolute;
    bottom: 60rem;
    left: 5rem;
}
.poder{
    position: absolute;
    bottom: 60rem;
    right: 5rem;
}
.poder label{
    width: 50%;
}
.inv{
    width: 40rem;
    height: 13rem;
    overflow-y: scroll;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 43rem;
    right: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 1s;
}
.inv>label, .inv>div{
    width: 100%;
}
.inv aside{
    position: fi;
}
.inv2{
    width: 40rem;
    height: 13rem;
    overflow-y: scroll;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 43rem;
    left: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 1s;
}
.inv2 label, .inv2 div{
    width: 100%;
}
fieldset div{
    display: flex;    
    width: 50%;
}
main label{
    display: flex;
    align-items: center;
    height: 7.5rem;
}
input, select, textarea{
    background: none;
    border: none;
    border: 5px double black;
    font-size: 4rem;
    width: 100%;
    height: 6rem;
    margin: 0.5rem 0.5rem;
    resize: none;
    text-align: center;
    box-sizing: border-box;
}
textarea{
    font-size: 1.65rem;
    text-align: left;
}
input[type="number"]{
    width: 6rem;
    font-size: 2.5rem;
}
input[type="range"]{
    width: 22rem;
}
dialog{
    width: 40rem;
    height: 22.5rem;
    margin: auto;
    padding: 1rem;
    border: none;
    background: transparent;
    background-image: url(assets/img/fondo_pergamino.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
dialog div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100%;
}
dialog input, dialog label{
    height: 3rem;
}
dialog label{
    margin: 0.2rem auto;
}
dialog input{
    width: 100%;
    font-size: 2rem;
}
dialog input[type="number"]{
    width: 100%;
    font-size: 2rem;
    appearance: none;
    -moz-appearance: textfield;
}
.short{     /*para encabezados cortos*/
    padding: 2rem 1rem 0 4rem;
}
                                        /* Poder e Identidad fieldset */
.row-1{
    width: 50%;
}
.row-2{
    align-items: center;
}
.row-2 select, .row-2 input[type="text"]{
    font-size: 2.5rem;
}
.row-3{
    margin-top: 0.9rem;
    align-items: center;
}
.row-3 input[type="number"]{
    width: 100%;
    height: 6rem;
    font-size: 3rem;
}
.row-3 select{
    width: 18rem;
    font-size: 3rem;
}
.row-4{
    display: flex;
    align-items:last baseline ;
    width: 50%;
    text-align: center;
    font-size: 1.6rem;
}
.row-4 p{
    font-size: 2.5rem;
}
.row-4 label{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    height: 10rem;
    width: 25%;
}
.row-4 input[type="number"]{
    width: 5rem;
    appearance: none;
    -moz-appearance: textfield;
}
.row-4 span{
    margin: 0 2rem;
}
.row-cuadrado{
    display: flex;
    flex-wrap: wrap;
}
.row-cuadrado label{
    width: 50%;
}
.row-cuadrado select{
    font-size: 2rem;
    width: 100%;
}
.row-cuadrado p{
    width: 100%;
    text-align: center;
}
.row-bolsa{
    display: flex;
}
.row-bolsa input[type="text"]{
    width: 18rem;
}
.row-bolsa input[type="number"]{
    width: 100%;
}
                                                /* Atributos fieldset */
.karma{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.karma p{
    margin: 0 auto;
}
.karma label{
    width: 38rem;
    height: 4rem;
    overflow: visible;
}
.karma input[type="range"]{
    height: 4rem;
    border: none;
    width: 32rem;
}
.karma input[type="range"]::-moz-range-track {
    background: linear-gradient(to right, #4caf50, #f44336);
    height: 1.7rem;
}
input[type="range"]::-moz-range-thumb {
    width: 4rem;
    height: 4rem;
    background: transparent;
    background-image: url(assets/img/Selector.png);
    background-repeat: no-repeat;
    background-size:cover ;
    border: none;
}
.atr label{
    height: 4rem;
}
.atr label input, .atr select{
    font-size: 1.5rem;
    appearance: textfield;
    border: 1px solid black;
    width: 3.5rem;
    height: 3rem;
}
.atr p{
    font-size: 2.8rem;
    text-align: center;
}
.atr span{
    font-size: 1.5rem;
    text-align: center;
}
.atr select{
    width: 8.6rem;
}
.atr input[type="range"]{
    width: 12rem;
    border: none;
}
.atr input[type="range"]::-moz-range-track {
    background: black;
    background-image: url();
    height: 10%;
}
.atr label .cap{
    width: 2rem;
}
.luk{
    grid-column: 15/17;
    width: 10rem;
}
.herida{
    grid-column: 3 / 5;
    width: 8rem;
}
label[class*="herida-"]{
    width: 10rem;
}
.herida-2{grid-column: 5 / 9;}
.herida-3{grid-column: 1/3;}
.herida-4{grid-column: 5/9;}
.herida-5{grid-column: 10/14;}
.herida-6{grid-column: 14/17;}
.herida-7{grid-column: 10/14;}
.herida-8{grid-column: 14/16;}
.herida-9{grid-column: 5/10;}

label[class*="herida"] input[type="text"]{
    width: 16rem;
}
.faltr{
    display: flex;
    align-items: center;
}
.faltr label{
    height: 2.5rem;
}
.faltr input{
    height: 2rem;
    border: 1px solid black;
}
.faltr input[type="text"]{
    width: 3rem;
    border: dotted;
    font-size: 30px;
}
                            /*Tipos de botones*/

fieldset button img{
    width: 10rem;
    height: 10rem;
    opacity: 0;
    transition: 0.5s;
}
fieldset button:hover img{
    opacity: 1;
}
.equipo button{
    background: transparent;
    background-color: rgba(150, 80, 22, 0.405);
    border: none;
    border-radius: 2rem;
    background-image: url(perfil/img/pieza.png);
    background-size: cover;
    aspect-ratio: 1/1;
}
.inv button, .inv2 button{
    background: transparent;
    background-image: url();
}
.bag{
    border: 5px double black;
    width: 80%;
    height: 100%;
    text-align: center;
    font-size: 4rem;
}
.inv .expand, .inv2 .expand{
    width: 15%;
    border: none;
    background-image: url(perfil/img/pieza.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 1rem;
}
.bolsa{
    width: 100%;
    height: 6rem;
    display: flex;
}
.largo, aside .largo img{
    height: 15rem;
    width: 8rem;
}
.corto, aside .corto img{
    height: 3rem;
    width: 8rem;
}
.abalorio, aside .abalorio img{
    height: 4rem;
    width: 4rem;
}
aside[class*="casilla"]{
    position: absolute;
}
.casilla-cabeza{top: 6rem; left: 35rem;}
.casilla-torso{top: 30rem; left: 35rem;}
.casilla-cintura{top: 42rem; left: 35rem;}
.casilla-hombro-izq{top: 18rem; left: 22rem;}
.casilla-hombro-dch{top: 18rem; right: 22rem;}
.casilla-brazo-izq{top: 30rem; left: 20rem;}
.casilla-brazo-dch{top: 30rem; left: 50rem;}
.casilla-mano-izq{top: 42rem; left: 20rem;}
.casilla-mano-dch{top: 42rem; left: 50rem;}
.casilla-pierna-izq{top: 56rem; left: 29rem;}
.casilla-pierna-dch{top: 56rem; left: 41rem;}
.casilla-pie-izq{top: 68rem; left: 29rem;}
.casilla-pie-dch{top: 68rem; left: 41rem;}

.casilla-pircing-izq{top: 5rem; left: 31rem;}
.casilla-pircing-dch{top: 5rem; left: 45rem;}
.casilla-cara{top: 15rem; left: 45rem;}
.casilla-collar{top: 15rem; left: 31rem;}
.casilla-tatoo{top: 28rem; left: 30.5rem;}
.casilla-kenwa{top: 28rem; left: 45.5rem;}
.casilla-pulsera-izq{top: 39rem; left: 30.5rem;}
.casilla-pulsera-dch{top: 39rem; left: 45.5rem;}
.casilla-anillo-izq{top: 50rem; left: 30.5rem;}
.casilla-anillo-dch{top: 50rem; left: 45.5rem;}

.casilla-arma{bottom: 1rem; left: 1rem;}
.casilla-escudo{bottom: 1rem; left: 20rem;}
.casilla-vaina{bottom: 17rem; left: 1rem;}
.casilla-magic{bottom: 1rem; right: 20rem;}
.casilla-range{bottom: 1rem; right: 1rem;}
.casilla-carcaj{bottom: 17rem; right: 1rem;}

.casilla-arma button {background-image: url(perfil/img/pieza.png);}
.casilla-escudo button{background-image: url(perfil/img/pieza.png);}
.casilla-vaina button{background-image: url(perfil/img/pieza.png);}

.casilla-nombre{
    width: 95%;
    height: auto;
}
.casilla-texto{
    width: 65%;
    height: auto;
}
.casilla-numero{
    width: 15%;
    height: auto;
}
.casilla-peso{
    width: 35%;
    height: auto;
}