main{
    position: absolute;
    background-image: url(/perfil/img/Fondo_ficha.png);
    background-repeat: no-repeat;
    background-size:cover ;
}
fieldset{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80rem;
    max-height: 45rem;
    font-size: 2rem;
    border: 1px solid black;
    margin: 1rem;
}
fieldset div{
    display: flex;    
    width: 50%;
}
main label{
    display: flex;
    align-items: center;
    width: 50%;
    height: 7.5rem;
}
input, select, textarea{
    background: none;
    background-image: url();
    border: none;
    border: 5px double black;
    font-size: 4rem;
    width: 100%;
    height: 6rem;
    margin: 0.5rem 0.5rem;
    resize: none;
    text-align: center;
}
textarea{
    font-size: 1.65rem;
    text-align: left;
}
input[type="number"]{
    width: 6rem;
    font-size: 2.5rem;
}
.row-2 label{
    width: 100%;
}
.row-2 select, .row-2 input[type="text"]{
    font-size: 2.5rem;
    width: 300%;
}
.row-3 input[type="number"]{
    width: 100%;
    height: 6rem;
    font-size: 3rem;
}
.row-4{
    width: 50%;
    text-align: center;
    align-items: center;
    font-size: 1.6rem;
}
.row-4 p{
    font-size: 2.5rem;
}
.row-4 label{
    display: inline-block;
    height: 11rem;
}
.row-4 input[type="number"]{
    width: 5rem;
    appearance: none;
    -moz-appearance: textfield;
}/*
.row-4 select{
    width: 25rem;
}*/
.row-cuadrado{
    display: flex;
    flex-wrap: wrap;
}
.row-cuadrado select{
    font-size: 2rem;
    width: 100%;
}
.row-cuadrado p{
    width: 100%;
    text-align: center;
}