main{
    background-image: url(/assets/img/fondo_pergamino.png);
    background-size: contain /*contain*/;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    margin: 2rem;
}
h3{
    align-items: flex-end;
    font-size: 4rem;
    color: var(--dorado);
    text-shadow: 
    1px 1px 0px black, 
    -1px 1px 0px black, 
    1px -1px 0px black, 
    -1px -1px 0px black;
}
section{
    width: 20rem;
    height: 16rem;
    margin: 1rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/assets/img/enciclopedia.png);
    background-size: 100% 100%;
}
article{
    width: 95%;
    height: 15rem;
    display: flex;
    overflow: scroll;
}
article div{
    margin: 2rem;
    min-width: 15rem;
    background-image: url(/enciclopedia/img/libroC.png);
    background-size: contain;
    background-repeat: no-repeat;
}
article h4{
   width: unset;
   font-size: 1.5rem;
   margin: 1.4rem 0;
   transform: rotate(-40deg) skewX(20deg);
}
.glosario{
    width: 95%;
    height: 95vh;
    background-image: url(/enciclopedia/img/libroOC.png);
    background-size: 100% 100%;
    margin: 2rem;
    position: relative;
}
.glosario h4{
    font-size: 2.5rem;
}
.glosario .list{
    width: 82%;
    height: 80%;
    margin: 0 9rem;
    overflow: hidden;
    display: block;
    column-count: 4;
    column-gap: 2rem;
}
.glosario li{
    margin: 0.5rem 0 0 3rem;
    width: 12rem;
    font-size: 2rem;
}
.glosario li:hover{
    background-color: rgba(139, 107, 3, 0.308);
}
.glosario h5{
    border-bottom: 3px solid chocolate;
    border-radius: 0 0 3rem 0;
    height: 2rem;
    width: 15rem;
    font-size: 2rem;
    margin: unset;
    padding: 1rem 0 0 0;
    list-style: none;
    text-align: start;
}
.prev, .post{
    position: absolute;
    background-image: url();
    width: 8rem;
    height: 8rem;
    transition: 0.5s;
    transform: translateY(-50%);
}
.prev:hover, .post:hover{
    width: 12rem;
    height: 12rem;
}
.prev{
    top: 50%;
}
.post{
    top: 50%;
    right: 0;
}