section label{
    font-size: 2rem;
}
section div{
    overflow: scroll;
}
section input{
    display: none;
}
#argoll{
    display: none;
    border: 4px double red;    
}
.cuarentena{
    border: 4px double red;
}
#argoll-butt:checked ~ #argoll{
    display: block;
}
#argoll-butt:checked ~ #argoll-lab>#Sbridge{
    transition: 2s;
    background-image: url(/img/Scastle-hover.png);
    background-size: 75% 95%;
    background-repeat: no-repeat;
    background-position: center;
}
#cuarentena-butt:not(:checked) ~ #cuarentena{
    display: none;
}
#cuarentena-butt:checked ~ #cuarentena-lab>#Mbridge{
    transition: 2s;
    background-image: url(/img/castle-hover.png);
    background-size: 65% 95% ;
    background-repeat: no-repeat;
    background-position: center;
}
.layers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
section{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}