section label{
    font-size: 2rem;
}
section div{
    overflow: scroll;
}
section input{
    display: none;
}
#argoll{
    display: none;
    border: 4px double red;    
}
.cuarentena{
    border: 4px double red;
}
#argoll-butt:checked ~ #argoll{
    display: block;
}
#cuarentena-butt:not(:checked) ~ #cuarentena{
    display: none;
}
.layers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}